<form
  (ngSubmit)="onSubmit()"
  [formGroup]="vetFormGroup"
  *ngIf="vetFormGroup"
  #ngForm="ngForm"
>
  <mat-form-field appearance="fill">
    <mat-label>Prenom</mat-label>
    <input matInput required formControlName="firstName" />
    <mat-error
      *ngIf="
        (ngForm.submitted || vetFormGroup.get('firstName').touched) &&
        vetFormGroup.hasError('required', 'firstName')
      "
    >
      Ce champ est requis.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput required formControlName="lastName" />
    <mat-error
      *ngIf="
        (ngForm.submitted || vetFormGroup.get('lastName').touched) &&
        vetFormGroup.hasError('required', 'lastName')
      "
    >
      Ce champ est requis.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Envoyer</button>
</form>
